/target
**/target/
**/*.rs.bk
*.rs~
*.toml~
*.md~

.vscode
.project
Cargo.lock

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

iota_streams_c
*.so