div.container {
  padding: 5px;
  height: 95%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: scroll;
  padding-top: 20px;
  border-width: 4px;
  border: #444444;
  border-style: solid;
}

div.left {
  width: 60%;
  left: 0;
  background-color: darkgrey;
}

div.right {
  width: 40%;
  right: 0;
  background-color: lightgrey;
}

div.links {
  overflow-x: scroll;
}

form {
  display: inline-block;
}

form li {
  display: inline-block;
  padding-bottom: 5px;
  padding-right: 5px;
}

form li div label {
  clear: both;
  color: #444;
  font-size: 12px;
  line-height: 9px;
  margin: 0;
  padding-top: 3px;
}

form .guidelines {
  background: #f5f5f5;
  border: 1px solid #e6e6e6;
  color: #444;
  line-height: 130%;
  padding: 8px 10px 9px;
}

form li#buttons {
  text-align: center;
}

.author {
  display: inline;
}

.accept_sub_link{
  display: inline;
}

.messages li:nth-child(odd){
  background: #444;
}
