[package]
name = "iota-streams-app"
version = "1.0.0"
authors = ["Vlad Semenov <vlad.semenov@iota.org>"]
edition = "2018"
license = "Apache-2.0/MIT"
readme = "README.md"
keywords = ["iota", "streams", "app"]
description = "A rust implementation of the IOTA Streams applications"

[features]
default = ["std", "tangle", "sync-client"]
# Enable `std` feature in dependencies
std = ["iota-streams-core/std", "iota-streams-core-edsig/std", "iota-streams-ddml/std", "anyhow/std", "chrono/std", "chrono/clock", "hex/std"]
# rust doesn't support async traits, `async-trait` crate emulates `async` keyword
# `async` implies `std` for now
async = ["async-trait", "std"]
tangle = ["chrono"]
# `iota-client` support is implemented as a feature (as opposed to a separate crate) in order to
# implement Transport for iota_client::Client.
sync-client = ["num_cpus", "smol", "iota-core", "iota-constants", "tangle", "std"]
async-client = ["num_cpus", "iota-core", "iota-constants", "tangle", "std", "async"]

[lib]
name = "iota_streams_app"
path = "src/lib.rs"

[dependencies]
iota-streams-core = { version = "0.2.0", path = "../iota-streams-core", default-features = false }
iota-streams-core-edsig = { version = "0.2.0", path = "../iota-streams-core-edsig", default-features = false }
iota-streams-ddml = { version = "0.2.0", path = "../iota-streams-ddml", default-features = false }

# anyhow and chrono are kept in sync with versions used in iota-core
anyhow = { version = "1.0.26", default-features = false }
chrono = { version = "0.4.11", default-features = false, optional = true }
hex = { version = "0.4.2", default-features = false, optional = false }
async-trait = { version = "0.1", optional = true }

# Dependencies for "client" feature
# `iota-core` crate is WIP with unstable API atm of writing.
iota-core = { git = "https://github.com/iotaledger/iota.rs", rev = "0ad8e7f", optional = true }
iota-constants = { version = "0.2.1", optional = true }
bee-transaction = { git = "https://github.com/Alex6323/bee-p.git" }
bee-crypto = { git = "https://github.com/iotaledger/bee.git", branch = "dev" }

# feature tokio02 explicitly required for block_on calls
smol = { version = "0.1.18", features = ["tokio02"], optional = true }
# core-futures-tls-0.1.1 is buggy and relies on unstable generators feature
#core = { package = "core-futures-tls", version = "0.1.1", path = "../../core-futures-tls", optional = true }
num_cpus = { version = "1.10", optional = true }
